<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.7.0/echarts.min.js"></script>
<%= javascript_include_tag 'heatmap' %>

<h1>Soil Analysis</h1>

<p>Description of this page</p>

<%= partial 'form' %>

<% if @data %>

  <div id='heatmap' style="width:600px; height:600px;"></div>

  <script type="text/javascript">
      var size = '<%= @size %>'
      var data = JSON.parse('<%= @data %>');

      displayHeatmap(size, data);
  </script>

<% end %>
